@import '../../sass/variables';

.navbar {
    background-color: $yellow;
    padding: $spacing-100 0;
    text-align: center;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    form {
        margin-left: $spacing-200;
    }
}
